<html>
<head>
    <link rel="stylesheet" type="text/css" href="styles.css">
    <title>URL Shortener</title>
</head>
<body>
    <h1>URL Shortener</h1>
    <h2>Created for FreeCodeCamp's back-end API challenge</h2>
    <p><a href="">See the user stories here.</a></p>
    <form action="" method="post">
        <input type="text" id="urlbox"></input>
        <button name="submit" formsubmit="_self">Submit</button>
    </form>
    <%- output -%>
</body>
</html>
